<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      Where are my patients? - Chrisp Street Health Centre
    </div>
    <div class="module-body">
      <loadingIndicator [done]="statusList">
        <div class="row">
          <div class="col-md-12" *ngFor="let status of statusList">
            <div class="card mb-3">
              <div class="card-header">
                <h2>{{getStatusName(status)}} <small>({{getEncountersByStatus(status).length}})</small></h2>
              </div>
              <div class="card-block">
                <div class="scroll-box-150">
                  <table class="table table-sm table-striped table-hover">
                    <thead>
                      <th>NHS No</th>
                      <th>Location</th>
                      <th>Date</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let encounter of getEncountersByStatus(status)">
                        <td><a href="/#/app/recordViewer/{{encounter.nhsNumber}}" target="_blank">{{encounter.nhsNumber}}</a></td>
                        <td>{{encounter.organisation}}</td>
                        <td>{{encounter.date}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </loadingIndicator>
    </div>
  </div>
</div>
